<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>robot index</title>
</head>
<body>
    
    
    
    
   <form action="/robots/<%=i%>?_method=DELETE" method="POST">
                      <button type="submit">Delete</button>




        <button type='delete' class='delete-button'>Delete</button>
    </form>
</body>
</html>